<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIT INIT - Aplicação Coletiva e OpenSource</title>
</head>
<body>

    <h1>Bem vindo ao Bitinit!!</h1>
    <h4>O propósito desta aplicação é demonstrar as funcionalidades das APIs para o mercado de Bitcoins e, ao mesmo
    tempo, auxiliar as pessoas que buscam dados sobre este mercado. Fiquem à vontade para contribuir!</h4>
    <h4>Repositório (GitHub): <a href="https://github.com/dieegom/bitinit">BitiniT</a></h4>

    <h2>Estatísticas atuais do mercado de bitcoins:</h2>
    <table width="80%">
        <tr>
            <td style="width:50%">Título</td>
            <td>Informação</td>
        </tr>
        <tr>
            <td>Valor do Bitcoin em USD</td>
            <td>US$: {{ bitcoin.market_price_usd }}</td>
        </tr>
        <tr>
            <td>Hash Rate</td>
            <td>{{ bitcoin.hash_rate }} GHz/s</td>
        </tr>
        <tr>
            <td>Volume estimado de transação</td>
            <td>US$: {{ bitcoin.estimated_transaction_volume_usd }}</td>
        </tr>
        <tr>
            <td>Número de transações</td>
            <td>{{ bitcoin.estimated_transaction_volume_usd }}</td>
        </tr>
        <tr>
            <td>Volume de transações em bitcoins</td>
            <td>BTC: {{ bitcoin.trade_volume_btc }}</td>
        </tr>
    </table>
    <h2>Informações de Câmbio</h2>
    <table width="80%">
        <tr>
            <td>Moeda</td>
            <td>Venda</td>
            <td>Compra</td>
        </tr>
        <tr>
            <td style="width:30%">USD</td>
            <td>{{ cambio.USD.symbol }}{{ cambio.USD.sell }}</td>
            <td>{{ cambio.USD.symbol }}{{ cambio.USD.buy }}</td>
        </tr>
        <tr>
            <td style="width:30%">BRL</td>
            <td>{{ cambio.BRL.symbol }}{{ cambio.BRL.sell }}</td>
            <td>{{ cambio.BRL.symbol }}{{ cambio.BRL.buy }}</td>
        </tr>
        <tr>
            <td style="width:30%">EUR</td>
            <td>{{ cambio.EUR.symbol }}{{ cambio.EUR.sell }}</td>
            <td>{{ cambio.EUR.symbol }}{{ cambio.EUR.buy }}</td>
        </tr>
        <tr>
            <td style="width:30%">CNY</td>
            <td>{{ cambio.CNY.symbol }}{{ cambio.CNY.sell }}</td>
            <td>{{ cambio.CNY.symbol }}{{ cambio.CNY.buy }}</td>
        </tr>
    </table>

    <h1>Market Share de Bitcoins</h1>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          {% autoescape off %}
          {% for item in  mkt_shr_7d %}
            {{ item }},
          {% endfor %}
          {% endautoescape %}
        ]);

        var options = {
          title: '7 dias',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_7d'));
        chart.draw(data, options);
      }
    </script>
            <div id="piechart_3d_7d" style="width: 900px; height: 500px"></div>
    <h1>Gráficos</h1>


<!-- TradingView Widget BEGIN -->
<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "width": 980,
  "height": 610,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "White",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "hideideas": true
});
</script>
<!-- TradingView Widget END -->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          {% autoescape off %}
          {% for item in floating %}
            {{ item }},
          {% endfor %}
          {% endautoescape %}
        ]);

        var options = {
          title: 'Flutuação de Bitcoins em relação à moeda chinesa',
          curveType: 'function',
          legend: { position: 'bottom' },
          vAxes: {0: {gridlines: {color: 'transparent'},
                      format:"# USD"},
                  1: {gridlines: {color: 'transparent'},
                      format:"# USD"},
                  },
          series: {0: {targetAxisIndex:0},
                   1:{targetAxisIndex:1},
                  },
          colors: ["red", "green"],
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_3'));

        chart.draw(data, options);
      }
    </script>
    <div id="curve_chart_3" style="width: 900px; height: 500px"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          {% autoescape off %}
          {% for item in floating_blr %}
            {{ item }},
          {% endfor %}
          {% endautoescape %}
        ]);

        var options = {
          title: 'Flutuação de Bitcoins em relação à moeda brasileira',
          curveType: 'function',
          legend: { position: 'bottom' },
          vAxes: {0: {gridlines: {color: 'transparent'},
                      format:"# USD"},
                  1: {gridlines: {color: 'transparent'},
                      format:"# USD"},
                  },
          series: {0: {targetAxisIndex:0},
                   1:{targetAxisIndex:1},
                  },
          colors: ["red", "green"],
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_4'));

        chart.draw(data, options);
      }
    </script>
    <div id="curve_chart_4" style="width: 900px; height: 500px"></div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          {% autoescape off %}
          {% for item in floating_eur %}
            {{ item }},
          {% endfor %}
          {% endautoescape %}
        ]);

        var options = {
          title: 'Flutuação de Bitcoins em relação ao Euro',
          curveType: 'function',
          legend: { position: 'bottom' },
          vAxes: {0: {gridlines: {color: 'transparent'},
                      format:"# USD"},
                  1: {gridlines: {color: 'transparent'},
                      format:"# USD"},
                  },
          series: {0: {targetAxisIndex:0},
                   1:{targetAxisIndex:1},
                  },
          colors: ["red", "green"],
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_5'));

        chart.draw(data, options);
      }
    </script>
    <div id="curve_chart_5" style="width: 900px; height: 500px"></div>


    <h2>Blocos Órfãos</h2>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Dias', 'Bitcoins'],
          {% for item in chart_orph_blocks %}
            {{ item }},
          {% endfor %}
        ]);

        var options = {
          title: 'Bitcoins em circulação / dia',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_6'));

        chart.draw(data, options);
      }
    </script>
    <div id="curve_chart_6" style="width: 900px; height: 500px"></div>

    <h2>Hash rate</h2>
    {{ chart_hash_rate }}
    <h2>Dificuldade de se encontrar o próximo bloco</h2>
    {{ chart_difficult }}
    <h2>Custo em % por transação de bitcoins</h2>
    {{ chart_cost }}
    <h2>Usuários de carteiras do Blockchain</h2>
   {{ chart_wallet }}

<h3> Links das APIs utilizadas:</h3>
<a href="https://blockchain.info/api">Blockchain API</a>
</body>
</html>