{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="parallax-container">
    <div class="parallax blur"><img src="{% static "base.jpeg" %}" ></div>
    <br>
    <br>
    <div class="container parallax-color hello">
        <h1 class="brand-logo center-align">Bitinit</h1>
        <h2 class="center-align">Uma página dedicada a todos aqueles que se interessam em Bitcoin mas não fazem ideia do que seja.</h2>
        <!-- <h3 class=" center-align legenda">Todos os textos aqui serão dedicados não só a explicar o que é bitcoin, mas também como desenvolver aplicações para isso</h3> -->
    </div>
    <br>
    <br>
</div>

<div class="container">
    <!-- <h4>Os desenvolvedores também são iniciantes, portanto vocês aprenderão junto conosco!!</h4> -->
    <br><br>
    <div class="row">
        <div class="col s12 m6">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i>Informações sobre Bitcoin</div>
                    <div class="collapsible-body">
                        <ul class="interno">
                            <li><a href="{% url 'whatisbitcoin' %}">O que é um bitcoin?</a></li>
                            <li><a href="{% url 'market' %}">Quais são as formas de interagir com este mercado?</a></li>
                            <li>Que outras criptomoedas existem?</li>
                            <li>Contato: De um noob pra outro</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">library_books</i>Aplicações para Bitcoin</div>
                    <div class="collapsible-body">
                        <ul class="interno">
                            <li>Linux</li>
                            <li>Python</li>
                            <li>virtualenv</li>
                            <li>APIs existentes</li>
                            <li>Django em 10 minutos</li>
                            <li>Primeira aplicação</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">web</i>Aplicação Bitinit</div>
                    <div class="collapsible-body">
                        <ul class="interno">
                            <li><a href="{% url 'bitinit' %}">Acesse aqui</a></li>
                        </ul>
                        <p>Sistema escrito em Python, iremos guiar este site em cima desta linguagem principalmente; para facilitar a construção</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col s12 m6">
            <div class="card light-blue darken-3">
                <div class="card-image">
                    <img src="{% static 'coin.jpeg'%}">
                    <span class="card-title">Valor do Bitcoin</span>
                </div>
                <div class="card-content white-text">
                    <p>US$ {{ bitcoin.market_price_usd }}</p>
                    <p>Dificuldade de Mineração: {{bitcoin.difficulty}}</p>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

