{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div id="wtfisbitcoin">
        <h3>O que é, afinal, um bitcoin?</h3>
        <p>Bitcoin é uma criptomoeda desenvolvida por Satoshi Nakamoto, projetada para ser descentralizada
                e de código aberto. Mas o quê tudo isso significa?
                Significa que esta moeda online não sofre influência direta de intervenções governamentais e qualquer
                um interessado pode auditar as transações. Isto torna a moeda mais independente e traz uma série de
                benefícios!
                Como o nosso foco aqui é botar a mão na massa, quem quiser saber mais detalhes a respeito, pode
                acessar os links a seguir:
            </p>
                <ul>
                    <li><a href="https://pt.wikipedia.org/wiki/Bitcoin">Wikipedia</a></li>
                    <li><a href="https://www.bitcoinbrasil.com.br/o-que-e-bitcoin">Bircoin Brasil</a></li>
                    <li><a href="https://youtu.be/1WQYLvbGFC0">Video explicativo</a></li>
                </ul>
    </div>
</div>

{% endblock %}
